
body{
    font-family: "Arial", Helvetica, sans-serif;
   background-color: #D5D5D5;
}

/* Text */
header{
    margin: 0px;
    width: 100%;
    height: 80px;
    }

header h1 {
    text-align: center;
    margin-bottom: -40px; 
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
}

h1{
    margin-top: 20px;
    text-align: center; 
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}

h2{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

p{
    padding: 12px 0px;
    text-align: center;
    line-height: 1.25em;
    font-size: 0.9em;
    padding: 40px;
    margin: 0 auto;
}
/*Images*/
#logoplats{
    display: inline-block;
    position: absolute;
    float: left;
    width: 110px;
    margin-top: -2em;
}

/*Links and Nav*/
ul > li > a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
    padding: 1em;
    margin: -1em;
}
nav ul {
    background-color: #96858F;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0px;
    -webkit-transition: max-height 0.4s ;
    -ms-transition: max-height 0.4s ;
    -moz-transition: max-height 0.4s ;
    -o-transition: max-height 0.4s ;
    transition: max-height 0.4s ;
}
nav ul li {
    display: inline-block;
    padding: 20px;
    margin: 0em 0.5em;
}
nav ul li:hover{
    background-color: #9099A2;
}
.Menubar{
    display: block;
    text-align: right;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

/*Other*/
.handle{
    width:100%;
    background-color: #96858F;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: white;
    display: none;
}
.here{
        background-color: #9099A2;
}
#k{
    margin-top: 10px;
    float: right;
}



/* Food and Drink */
img{
    width: 100%;
    float: auto;
}
.Ps1{
    width: 49%;
    display: inline-block;
}
.Ps2{
    width: 49%;
    display: inline-block;
}
.Left{
}
.Right{
}
.Spacer{
    height: 50px;
    width: 100%
}

/* CONTACT PAGE */
div.lb{
    width: 700px;
    margin: auto;
    padding: 20px;
}
label{
    padding: 12px 0px;
}
.kb{
    width: 700px;
    padding: 12px 0px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
select{
    height: 30px;
}
input {

    height: 16px;

}
textarea{
    height: 100px;
}
option{
     padding: 12px 0px;
}
input[type=button] {
    background-color: #96858F;
    height: 50px;
    width: 700px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}




div.xD{
    border-radius: 5px;
    margin: auto;
    background-color: #6D7993;
    width: 80%;
}
footer{
    padding: 30px;
    font-family: Impact, Changa One, Charcoal, sans-serif;
    text-align: center;

}



/*Media Querys*/
@media screen and (max-width: 830px){
    nav ul{
        max-height: 0px;
    }
    .showing {
        max-height: 20em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
    .handle{
        display: block;
    }
    div.lb{
        width: 400px;
    }
    .kb{
        width: 400px;
    }
    input[type=button] {
        width: 400px;
    }
    .Ps1{
        width: 100%;
    }
    .Ps2{
        width: 100%;
    }
    .Left{
        float: auto;
    }
    .Right{
        float: auto;
    }
}

@media screen and (max-width: 500px){
    #logoplats{
            display: none;
        }
    div.lb{
            width: 300px;
        }
    .kb{
            width: 300px;
        }
    input[type=button] {
        width: 300px;
    }
}
